/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #ffffff;
  --color-red: #EA525B;
  --color-black: #3D5055;
  --color-grey: #98A2A7;
  --color-grey-light: #CBD0D2;

  /** theme colors */
  --color-primary: #16CBC2;
  --color-primary-light: #98E9E0;
  --color-primary-lines: #E8ECEB;
  --color-primary-lines-light: #F5F8F7;
  --color-primary-super-light: #F1F6FB;
  --color-primary-background: #f4fcfc;

  --color-secondary: #16CBC2;
  --color-secondary-light: #98E9E0;
  --color-secondary-lines: #E8ECEB;
  --color-secondary-lines-light: #F5F8F7;
  --color-secondary-super-light: #F1F6FB;
  --color-secondary-background: #f4fcfc;
}
